$color-fondo1: deepskyblue;
$color-fondo2: lightgrey;
$color-fondo3:  #4abdac;
$color-parrafo1: orange;
$color-parrafo2: #76323f;
$color-borde: green;
$color1:  #fff;
$color-h1: #2c2c54;
$color-span: white;
$color-borde-left: #000;
$color-divisor: #ecf0f1;
$color-agrupar-fondo: whitesmoke;
$tamaño1: 20px;
$tamaño2: 120px;